<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.eps.dao.OrderDetailDao">

	<select id="get" resultType="com.project.eps.domain.OrderDetailDO">
		select `id`,`order_no`,`service_duration`,`service_fee`,`distance_km`,`car_fee`,`order_desc`,`power_start_time`,`power_end_time`,`status`,`create_time`,`update_time` from eps_order_detail where id = #{value}
	</select>

	<select id="list" resultType="com.project.eps.domain.OrderDetailDO">
		select `id`,`order_no`,`service_duration`,`service_fee`,`distance_km`,`car_fee`,`order_desc`,`power_start_time`,`power_end_time`,`status`,`create_time`,`update_time` from eps_order_detail
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="serviceDuration != null and serviceDuration != ''"> and service_duration = #{serviceDuration} </if>
		  		  <if test="serviceFee != null and serviceFee != ''"> and service_fee = #{serviceFee} </if>
		  		  <if test="distanceKm != null and distanceKm != ''"> and distance_km = #{distanceKm} </if>
		  		  <if test="carFee != null and carFee != ''"> and car_fee = #{carFee} </if>
		  		  <if test="orderDesc != null and orderDesc != ''"> and order_desc = #{orderDesc} </if>
		  		  <if test="powerStartTime != null and powerStartTime != ''"> and power_start_time = #{powerStartTime} </if>
		  		  <if test="powerEndTime != null and powerEndTime != ''"> and power_end_time = #{powerEndTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from eps_order_detail
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo} </if>
		  		  <if test="serviceDuration != null and serviceDuration != ''"> and service_duration = #{serviceDuration} </if>
		  		  <if test="serviceFee != null and serviceFee != ''"> and service_fee = #{serviceFee} </if>
		  		  <if test="distanceKm != null and distanceKm != ''"> and distance_km = #{distanceKm} </if>
		  		  <if test="carFee != null and carFee != ''"> and car_fee = #{carFee} </if>
		  		  <if test="orderDesc != null and orderDesc != ''"> and order_desc = #{orderDesc} </if>
		  		  <if test="powerStartTime != null and powerStartTime != ''"> and power_start_time = #{powerStartTime} </if>
		  		  <if test="powerEndTime != null and powerEndTime != ''"> and power_end_time = #{powerEndTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.eps.domain.OrderDetailDO">
		insert into eps_order_detail
		(
			`id`, 
			`order_no`, 
			`service_duration`, 
			`service_fee`, 
			`distance_km`, 
			`car_fee`, 
			`order_desc`, 
			`power_start_time`, 
			`power_end_time`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{orderNo}, 
			#{serviceDuration}, 
			#{serviceFee}, 
			#{distanceKm}, 
			#{carFee}, 
			#{orderDesc}, 
			#{powerStartTime}, 
			#{powerEndTime}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.eps.domain.OrderDetailDO">
		update eps_order_detail 
		<set>
			<if test="orderNo != null">`order_no` = #{orderNo}, </if>
			<if test="serviceDuration != null">`service_duration` = #{serviceDuration}, </if>
			<if test="serviceFee != null">`service_fee` = #{serviceFee}, </if>
			<if test="distanceKm != null">`distance_km` = #{distanceKm}, </if>
			<if test="carFee != null">`car_fee` = #{carFee}, </if>
			<if test="orderDesc != null">`order_desc` = #{orderDesc}, </if>
			<if test="powerStartTime != null">`power_start_time` = #{powerStartTime}, </if>
			<if test="powerEndTime != null">`power_end_time` = #{powerEndTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update eps_order_detail set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update eps_order_detail set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from eps_order_detail where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from eps_order_detail where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>