<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.eps.dao.UserDeviceDao">

	<select id="get" resultType="com.project.eps.domain.UserDeviceDO">
		select `id`,`user_id`,`device_name`,`device_sn`,`device_type`,`status`,`create_time`,`update_time` from eps_user_device where id = #{value}
	</select>

	<select id="list" resultType="com.project.eps.domain.UserDeviceDO">
		select `id`,`user_id`,`device_name`,`device_sn`,`device_type`,`status`,`create_time`,`update_time` from eps_user_device
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="deviceName != null and deviceName != ''"> and device_name = #{deviceName} </if>
		  		  <if test="deviceSn != null and deviceSn != ''"> and device_sn = #{deviceSn} </if>
		  		  <if test="deviceType != null and deviceType != ''"> and device_type = #{deviceType} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from eps_user_device
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="deviceName != null and deviceName != ''"> and device_name = #{deviceName} </if>
		  		  <if test="deviceSn != null and deviceSn != ''"> and device_sn = #{deviceSn} </if>
		  		  <if test="deviceType != null and deviceType != ''"> and device_type = #{deviceType} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.eps.domain.UserDeviceDO">
		insert into eps_user_device
		(
			`id`, 
			`user_id`, 
			`device_name`, 
			`device_sn`, 
			`device_type`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{deviceName}, 
			#{deviceSn}, 
			#{deviceType}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.eps.domain.UserDeviceDO">
		update eps_user_device 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="deviceName != null">`device_name` = #{deviceName}, </if>
			<if test="deviceSn != null">`device_sn` = #{deviceSn}, </if>
			<if test="deviceType != null">`device_type` = #{deviceType}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update eps_user_device set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update eps_user_device set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from eps_user_device where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from eps_user_device where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>