<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.eps.dao.UserAccountDetailDao">

	<select id="get" resultType="com.project.eps.domain.UserAccountDetailDO">
		select `id`,`user_id`,`trade_no`,`trade_desc`,`operate_amount`,`operate_time`,`type`,`amount`,`status`,`create_time`,`update_time` from eps_user_account_detail where id = #{value}
	</select>

	<select id="list" resultType="com.project.eps.domain.UserAccountDetailDO">
		select `id`,`user_id`,`trade_no`,`trade_desc`,`operate_amount`,`operate_time`,`type`,`amount`,`status`,`create_time`,`update_time` from eps_user_account_detail
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="tradeNo != null and tradeNo != ''"> and trade_no = #{tradeNo} </if>
		  		  <if test="tradeDesc != null and tradeDesc != ''"> and trade_desc = #{tradeDesc} </if>
		  		  <if test="operateAmount != null and operateAmount != ''"> and operate_amount = #{operateAmount} </if>
		  		  <if test="operateTime != null and operateTime != ''"> and operate_time = #{operateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from eps_user_account_detail
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="tradeNo != null and tradeNo != ''"> and trade_no = #{tradeNo} </if>
		  		  <if test="tradeDesc != null and tradeDesc != ''"> and trade_desc = #{tradeDesc} </if>
		  		  <if test="operateAmount != null and operateAmount != ''"> and operate_amount = #{operateAmount} </if>
		  		  <if test="operateTime != null and operateTime != ''"> and operate_time = #{operateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.eps.domain.UserAccountDetailDO">
		insert into eps_user_account_detail
		(
			`id`, 
			`user_id`, 
			`trade_no`, 
			`trade_desc`, 
			`operate_amount`, 
			`operate_time`, 
			`type`, 
			`amount`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{tradeNo}, 
			#{tradeDesc}, 
			#{operateAmount}, 
			#{operateTime}, 
			#{type}, 
			#{amount}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.eps.domain.UserAccountDetailDO">
		update eps_user_account_detail 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="tradeNo != null">`trade_no` = #{tradeNo}, </if>
			<if test="tradeDesc != null">`trade_desc` = #{tradeDesc}, </if>
			<if test="operateAmount != null">`operate_amount` = #{operateAmount}, </if>
			<if test="operateTime != null">`operate_time` = #{operateTime}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="amount != null">`amount` = #{amount}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update eps_user_account_detail set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update eps_user_account_detail set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from eps_user_account_detail where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from eps_user_account_detail where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>