<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.eps.dao.UserWithdrawDao">

	<select id="get" resultType="com.project.eps.domain.UserWithdrawDO">
		select `id`,`user_id`,`user_account_id`,`use_account_card_id`,`withdraw_amount`,`withdraw_status`,`withdraw_desc`,`status`,`create_time`,`update_time` from eps_user_withdraw where id = #{value}
	</select>

	<select id="list" resultType="com.project.eps.domain.UserWithdrawDO">
		select `id`,`user_id`,`user_account_id`,`use_account_card_id`,`withdraw_amount`,`withdraw_status`,`withdraw_desc`,`status`,`create_time`,`update_time` from eps_user_withdraw
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userAccountId != null and userAccountId != ''"> and user_account_id = #{userAccountId} </if>
		  		  <if test="useAccountCardId != null and useAccountCardId != ''"> and use_account_card_id = #{useAccountCardId} </if>
		  		  <if test="withdrawAmount != null and withdrawAmount != ''"> and withdraw_amount = #{withdrawAmount} </if>
		  		  <if test="withdrawStatus != null and withdrawStatus != ''"> and withdraw_status = #{withdrawStatus} </if>
		  		  <if test="withdrawDesc != null and withdrawDesc != ''"> and withdraw_desc = #{withdrawDesc} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from eps_user_withdraw
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userAccountId != null and userAccountId != ''"> and user_account_id = #{userAccountId} </if>
		  		  <if test="useAccountCardId != null and useAccountCardId != ''"> and use_account_card_id = #{useAccountCardId} </if>
		  		  <if test="withdrawAmount != null and withdrawAmount != ''"> and withdraw_amount = #{withdrawAmount} </if>
		  		  <if test="withdrawStatus != null and withdrawStatus != ''"> and withdraw_status = #{withdrawStatus} </if>
		  		  <if test="withdrawDesc != null and withdrawDesc != ''"> and withdraw_desc = #{withdrawDesc} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.eps.domain.UserWithdrawDO">
		insert into eps_user_withdraw
		(
			`id`, 
			`user_id`, 
			`user_account_id`, 
			`use_account_card_id`, 
			`withdraw_amount`, 
			`withdraw_status`, 
			`withdraw_desc`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{userAccountId}, 
			#{useAccountCardId}, 
			#{withdrawAmount}, 
			#{withdrawStatus}, 
			#{withdrawDesc}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.eps.domain.UserWithdrawDO">
		update eps_user_withdraw 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userAccountId != null">`user_account_id` = #{userAccountId}, </if>
			<if test="useAccountCardId != null">`use_account_card_id` = #{useAccountCardId}, </if>
			<if test="withdrawAmount != null">`withdraw_amount` = #{withdrawAmount}, </if>
			<if test="withdrawStatus != null">`withdraw_status` = #{withdrawStatus}, </if>
			<if test="withdrawDesc != null">`withdraw_desc` = #{withdrawDesc}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update eps_user_withdraw set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update eps_user_withdraw set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from eps_user_withdraw where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from eps_user_withdraw where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>