<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.common.dao.TaskValueDao">

	<select id="get" resultType="com.project.common.domain.TaskValueDO">
		select `id`,`job_name`,`last_update_date`,`threshold_value`,`status` from sys_task_value where id = #{value}
	</select>

	<select id="list" resultType="com.project.common.domain.TaskValueDO">
		select `id`,`job_name`,`last_update_date`,`threshold_value`,`status` from sys_task_value
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="jobName != null and jobName != ''"> and job_name = #{jobName} </if>
		  		  <if test="lastUpdateDate != null and lastUpdateDate != ''"> and last_update_date = #{lastUpdateDate} </if>
		  		  <if test="thresholdValue != null and thresholdValue != ''"> and threshold_value = #{thresholdValue} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_task_value
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="jobName != null and jobName != ''"> and job_name = #{jobName} </if>
		  		  <if test="lastUpdateDate != null and lastUpdateDate != ''"> and last_update_date = #{lastUpdateDate} </if>
		  		  <if test="thresholdValue != null and thresholdValue != ''"> and threshold_value = #{thresholdValue} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.common.domain.TaskValueDO">
		insert into sys_task_value
		(
			`id`, 
			`job_name`, 
			`last_update_date`, 
			`threshold_value`, 
			`status`
		)
		values
		(
			#{id}, 
			#{jobName}, 
			#{lastUpdateDate}, 
			#{thresholdValue}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.common.domain.TaskValueDO">
		update sys_task_value 
		<set>
			<if test="jobName != null">`job_name` = #{jobName}, </if>
			<if test="lastUpdateDate != null">`last_update_date` = #{lastUpdateDate}, </if>
			<if test="thresholdValue != null">`threshold_value` = #{thresholdValue}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update sys_task_value set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update sys_task_value set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from sys_task_value where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_task_value where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>