<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.system.dao.DeviceDao">

	<select id="get" resultType="com.project.system.domain.DeviceDO">
		select `id`,`device_name`,`hardware_id`,`dict_id`,`dict_name`,`remark`,`status`,`create_time`,`update_time` from ahy_device where id = #{value}
	</select>

	<select id="list" resultType="com.project.system.domain.DeviceDO">
		select `id`,`device_name`,`hardware_id`,`dict_id`,`dict_name`,`remark`,`status`,`create_time`,`update_time` from ahy_device
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deviceName != null and deviceName != ''"> and device_name LIKE CONCAT('%',#{deviceName},'%') </if>
		  		  <if test="hardwareId != null and hardwareId != ''"> and hardware_id = #{hardwareId} </if>
		  		  <if test="dictId != null and dictId != ''"> and dict_id = #{dictId} </if>
		  		  <if test="dictName != null and dictName != ''"> and dict_name = #{dictName} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ahy_device
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deviceName != null and deviceName != ''"> and device_name LIKE CONCAT('%',#{deviceName},'%') </if>
		  		  <if test="hardwareId != null and hardwareId != ''"> and hardware_id = #{hardwareId} </if>
		  		  <if test="dictId != null and dictId != ''"> and dict_id = #{dictId} </if>
		  		  <if test="dictName != null and dictName != ''"> and dict_name = #{dictName} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.system.domain.DeviceDO">
		insert into ahy_device
		(
			`id`, 
			`device_name`, 
			`hardware_id`, 
			`dict_id`, 
			`dict_name`, 
			`remark`, 
			`status`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{id}, 
			#{deviceName}, 
			#{hardwareId}, 
			#{dictId}, 
			#{dictName}, 
			#{remark}, 
			#{status}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.system.domain.DeviceDO">
		update ahy_device 
		<set>
			<if test="deviceName != null">`device_name` = #{deviceName}, </if>
			<if test="hardwareId != null">`hardware_id` = #{hardwareId}, </if>
			<if test="dictId != null">`dict_id` = #{dictId}, </if>
			<if test="dictName != null">`dict_name` = #{dictName}, </if>
			<if test="remark != null">`remark` = #{remark}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update ahy_device set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update ahy_device set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from ahy_device where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ahy_device where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>