<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.system.dao.UserExtendDao">

	<select id="get" resultType="com.project.system.domain.UserExtendDO">
		select `id`,`user_id`,`login_rules`,`password_rules`,`other_rules`,`status`,`update_time`,`create_time` from ahy_user_extend where id = #{value}
	</select>

	<select id="list" resultType="com.project.system.domain.UserExtendDO">
		select `id`,`user_id`,`login_rules`,`password_rules`,`other_rules`,`status`,`update_time`,`create_time` from ahy_user_extend
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="loginRules != null and loginRules != ''"> and login_rules = #{loginRules} </if>
		  		  <if test="passwordRules != null and passwordRules != ''"> and password_rules = #{passwordRules} </if>
		  		  <if test="otherRules != null and otherRules != ''"> and other_rules = #{otherRules} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  and status = 1
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ahy_user_extend
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="loginRules != null and loginRules != ''"> and login_rules = #{loginRules} </if>
		  		  <if test="passwordRules != null and passwordRules != ''"> and password_rules = #{passwordRules} </if>
		  		  <if test="otherRules != null and otherRules != ''"> and other_rules = #{otherRules} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  and status = 1
		</where>
	</select>
	 
	<insert id="save" parameterType="com.project.system.domain.UserExtendDO">
		insert into ahy_user_extend
		(
			`id`, 
			`user_id`, 
			`login_rules`, 
			`password_rules`, 
			`other_rules`, 
			`status`, 
			`update_time`, 
			`create_time`
		)
		values
		(
			#{id}, 
			#{userId}, 
			#{loginRules}, 
			#{passwordRules}, 
			#{otherRules}, 
			#{status}, 
			#{updateTime}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.project.system.domain.UserExtendDO">
		update ahy_user_extend 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="loginRules != null">`login_rules` = #{loginRules}, </if>
			<if test="passwordRules != null">`password_rules` = #{passwordRules}, </if>
			<if test="otherRules != null">`other_rules` = #{otherRules}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateStatus">
        update ahy_user_extend set status = 0 where id = #{value}
    </update>

    <update id="batchUpdateStatus">
        update ahy_user_extend set status = 0 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
	
	<delete id="remove">
		delete from ahy_user_extend where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ahy_user_extend where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>