<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="status" name="status" value="1"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">订单编号：</label>
								<div class="col-sm-8">
									<input id="orderNo" name="orderNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">服务时长：</label>
								<div class="col-sm-8">
									<input id="serviceDuration" name="serviceDuration" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">服务费：</label>
								<div class="col-sm-8">
									<input id="serviceFee" name="serviceFee" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出车公里：</label>
								<div class="col-sm-8">
									<input id="distanceKm" name="distanceKm" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">出车费：</label>
								<div class="col-sm-8">
									<input id="carFee" name="carFee" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">用电描述：</label>
								<div class="col-sm-8">
									<input id="orderDesc" name="orderDesc" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">开始供电时间：</label>
								<div class="col-sm-8">
									<input id="powerStartTime" name="powerStartTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">结束供电时间：</label>
								<div class="col-sm-8">
									<input id="powerEndTime" name="powerEndTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/eps/orderDetail/add.js">
	</script>
</body>
</html>
