<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="modifyPwd">
							<input type="hidden" name="userDO.userId"
								th:value="${user.userId}" />
							<div class="form-group">
								<label class="col-sm-3 control-label">旧密码：</label>
								<div class="col-sm-4">
									<input type="password" class="form-control gg-border0"
										id="pwdOld" name="pwdOld" placeholder="请输入旧密码" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">新密码：</label>
								<div class="col-sm-4">
									<input type="password" class="form-control gg-border0"
										id="pwdNew" name="pwdNew" placeholder="请输入新密码" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">确认密码：</label>
								<div class="col-sm-4">
									<input type="password" class="form-control gg-border0"
										id="confirm_password" name="confirm_password"
										placeholder="请确认密码" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">过期类型：</label>
								<div class="col-sm-4">
									<select data-placeholder="--选择类别--" name="expiredType"
										id="expiredType" class="form-control chosen-select"
										tabindex="2" required>
										<option value="">--选择类型--</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"></label>&nbsp;&nbsp;
								<div  id="selectTemp" class="col-sm-4"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"></label>
								<div class="col-sm-4">
									<button type="button" class="btn btn-primary" id="pwd_save">保存</button>
								</div>
							</div>


						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/system/userExtend/setPassword.js">
		
	</script>
</body>
</html>


